<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="#eae0c8">
    <center>
    <h1>DETAILS</h1>
    <form action="">
        <input type="text" placeholder="Firstname">
        <input type="text" placeholder="Lastname"><br><br>
        <input type="text" placeholder="Place">
        <input type="text" placeholder="District"><br><br>
        <textarea name="" id="" cols="43" rows="4" placeholder="Address"></textarea><br><br>
        <label for="">Date of Birth</label>
        <input type="date"><br><br>
        <label for="">Gender</label>
        <input type="radio" name="Gender">Male
        <input type="radio" name="Gender">Female <br><br>
        <input type="text" placeholder="Education">
        <input type="text" placeholder="Occupation"><br><br>
        <input type="text" placeholder="Telephone">
        <input type="text" placeholder="Mobile"><br><br>
        <input type="text" placeholder="E-mail" size="46"><br><br><br><br><br><br>
        <input type="submit" value="SUBMIT">
        <input type="reset" value="CANCEL">
    </form>
    </center>
</body>
</html>